In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('cleaned_data.csv', index_col=0)

In [3]:
data

,price,living_rooms,bedrooms,bathrooms,town_city,outward_code,property_type,desc
394,25567.0,2.0,3.0,3.0,London,W1K,flat,three bedroom apartment in an exceptional high...
395,25567.0,1.0,3.0,3.0,London,W1K,flat,this newly furnished three bedroom three bathr...
396,25567.0,1.0,3.0,3.0,London,W1K,flat,this unique apartment comprises double bedroo...
397,25567.0,1.0,3.0,3.0,London,W1K,flat,this modern three bedroom lateral apartment is...
398,25567.0,1.0,3.0,3.0,London,W1K,flat,a modern newly refurbished bedroom bathroom ...
...,...,...,...,...,...,...,...,...
8163,19500.0,4.0,7.0,6.0,London,W8,town house,family house in the heart of kensington equidi...
8164,19500.0,1.0,4.0,4.0,London,SW3,maisonette,a truly stunning and unique four bedroom apart...
8165,19500.0,4.0,8.0,6.0,London,W10,detached house,immaculately designed with fastidious attentio...
8166,19500.0,1.0,3.0,3.0,London,W11,property,stylishly designed new build house in a very q...
8167,19500.0,1.0,4.0,3.0,London,SW10,flat,sgort let only this spacious bedroom flat is l...

In [4]:
data['desc'][0:50]

394    three bedroom apartment in an exceptional high...
395    this newly furnished three bedroom three bathr...
396    this unique apartment comprises  double bedroo...
397    this modern three bedroom lateral apartment is...
398    a modern newly refurbished  bedroom  bathroom ...
399    a modern newly refurbished  bedroom  bathroom ...
400    oig real estate are delighted to present this ...
401    zero deposit available long let this stunning ...
402    a spacious three bedroom apartment situated on...
403    a beautiful threebedroom apartment in the hear...
404    a three bedroom penthouse situated over the th...
405    main house hinwick house is approached either ...
406    this stunning fourth floor apartment has been ...
407    security at its best this extraordinary apartm...
408     ready for livingfully furnished beds and bedd...
409    this lovely  bedroom house and  reception room...
410    offers welcome superbly well presented  bedroo...
411     ready for livingfully furnished beds and bedd...
412     ready for livingfully furnished beds and bedd...
413     ready for livingfully furnished beds and bedd...
414    very spacious  bedroom apartment in arlington ...
415    a spacious  hours serviced apartment in the he...
416     ready for livingfully furnished beds and bedd...
417    a magnificent  bedroom duplex penthouse apartm...
418    taking ownership of four grand floors of a tra...
419    an imposing large family house split over five...
420    short let  holiday let a stunning five bedroom...
421    an exceptional three bedroom north west facing...
422    newly furnished three bedroom apartment to ren...
423    a spacious three bedroom apartment situated on...
424    a beautiful threebedroom apartment in the hear...
425    immaculate five bedroom house now available in...
426    an outstanding  bedroom triplex apartment exte...
427    a luxurious newly refurbished  bedroom apartem...
428    a three bedroom penthouse situated over the th...
429    this three bedroom apartment  sq ft   sq m is ...
430    an exceptional triplex penthouse apartment boa...
431    a stunning first floor three bedroom three bat...
432    stunning first floor lateral apartment with a ...
433    ref ja a magnificent triplex penthouse apartme...
434    a magnificent triplex penthouse apartment situ...
435    madison fox are delighted to offer this sensat...
436    a stunning block of  flats comprising of   bed...
437    taking ownership of four grand floors of a tra...
438    a spectacular apartment located within this st...
439    online viewing available  a quintessentially h...
440    three double bedrooms fourth bedroom  study th...
441    the house has been refurbished to an immaculat...
442     ready for livingfully furnished beds and bedd...
443    interior designed luxury threebedroom apartmen...
Name: desc, dtype: object

In [5]:
tags = [
    'garden',
    'renovated',
    'furnished',
    'unfurnished',
    'decorated',
    'restoration',
    'serviced',
    'ready',
    'modernised',
    'refurbished',
    'newly built',
    'spacious',
    'modern',
    'duplex,',
    'garage',
    'family',
    'student',
    'students',
    'shortlet',
    'short let',
    'long let',
    'longlet',
    'located',
    'zero deposit'
]

In [6]:
#check if any of the tags are in the desc column, add to dict if true
d = {}
for row in data['desc']:
    for tag in tags:
        if tag in row:
            d[row] = tag
            break
        else:
            d[row] = 'none'

In [7]:
#create new tags column and replace with dictionary values
data['tags'] = data['desc']
data.replace({'tags':d}, inplace=True)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
le.fit_transform(data['tags'])

array([ 5,  2, 10, ...,  1, 10, 17])

In [11]:
data.drop('desc', axis=1, inplace=True)

In [12]:
data.to_csv('data_feat_extracted')